.nav-bar{
  display: flex;
  height: 40px;
  align-items: center;
  text-align: center;
}

.left, .right {
  width: 80px;
  background-color: #f00;
}

.center {
  flex: 1;
  background-color: #f80;
}


